<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Registration</h1>

<form th:action="@{/registration}"
      th:object="${personForm}" method="post">
    Login:
    <input type="text" th:field="*{login}"/>
    <br/>
    Email:
    <input type="text" th:field="*{email}"/>
    <br/>
    Password:
    <input type="password" th:field="*{password}"/>
    <br/>
    <br/>
    Confirm Password:
    <input type="password" th:field="*{confirmPassword}"/>
    <br/>
    <br/>
    Name:
    <input type="text" th:field="*{name}"/>
    <br/>
    <br/>
    Surname:
    <input type="text" th:field="*{surname}"/>
    <br/>
    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
    <input type="submit" value="Register"/>
</form>
<br/>

<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;">...</div>

</body>
</html>