<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Edit Person</title>
</head>
<body>
<h1>Edit Person</h1>

    <form th:action="@{'/persons/edit'(id=${id})}"
          th:object="${personForm}" method="post">
        Login:
        <input type="text" th:field="*{login}" th:value="${personForm.login}"/>
        <br/>
        Email:
        <input type="text" th:field="*{email}" th:value="${personForm.email}"/>
        <br/>
        <br/>
        Name:
        <input type="text" th:field="*{name}" th:value="${personForm.name}"/>
        <br/>
        Surname:
        <input type="text" th:field="*{surname}" th:value="${personForm.surname}"/>
        <!--<br/>
        Password:
        <input type="password" th:field="*{password}"/>
        <br/>-->
        <ul>
            <li th:each="role : ${allRoles}">
                <!--<input type="checkbox" name="${role}" th:value="${role}" th:checked="true" />
                <label th:text="${role}" th:field="${role}"></label>-->

                <input type="checkbox" th:field="*{roles}" th:value="${role}" />
                <label th:for="${#ids.prev('roles')}"
                       th:text="${role}">Heating</label>
                <!--th:text="#{${'seedstarter.feature.' + role}}">Heating</label>-->


                <!--<label th:for="${#ids.prev('personForm.roles')}"
                       th:text="#{${'seedstarter.personForm.roles.' + role}}">Heating</label>-->
            </li>
        </ul>
        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
        <input type="submit" value="Update"/>
        <br/>

    </form>

    <!-- Check if errorMessage is not null and not empty -->
    <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;">...</div>
</body>
</html>