<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Persons</title>
</head>
<body>

    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <h1>Person List</h1>
    <a href="addPerson">Add Person</a>
    <br/><br/>
    <div>
        <table border="2">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Login</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            <tr th:each="person:${persons}">
                <td th:utext="${person.name}">...</td>
                <td th:utext="${person.surname}">...</td>
                <td th:utext="${person.login}">...</td>
                <td th:utext="${person.email}">...</td>
                <td th:utext="${person.password}">...</td>
            </tr>
        </table>
    </div>

    <form method="post" action="filter">
        <label>
            <input type="text" name="filter">
            <button type="submit">Найти по имени</button>
            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
        </label>
    </form>

</body>
</html>