<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>All Persons</title>
    <link th:href="@{css/personList.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

    <form th:action="@{/logout}" method="post">
        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
        <input type="submit" value="Sign Out"/>
    </form>

    <div th:if="${opDelete}">
        Person deleted successfully<br>
        <div th:utext="${deletedPerson}">Информация о пользователе</div>
    </div>

    <div th:if="${isError}">
        <div th:utext="${errorMsg}">Сообщение об ошибке</div>
    </div>

    <h1>Person List</h1>

    <a th:href="@{/persons/add}">Add Person</a><br>
    <a th:href="@{/}">Main page</a>
    <br/><br/>
    <div>
        <table border="5">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Login</th>
                <th>Email</th>
                <!--<th>Password</th>-->
                <th>Roles</th>
                <th>Profile</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            <tr th:each="person:${persons}">
                <td th:utext="${person.name}">...</td>
                <td th:utext="${person.surname}">...</td>
                <td th:utext="${person.login}">...</td>
                <td th:utext="${person.email}">...</td>
                <!--<td th:utext="${person.password}">...</td>-->
                <td th:utext="${person.roles}">...</td>
                <td> <a th:href="@{'/persons/'+ ${person.id}}">show</a> </td>
                <td> <a th:href="@{'/persons/delete'(id=${person.id})}">delete</a> </td>
                <td> <a th:href="@{'/persons/edit'(id=${person.id})}">edit</a> </td>
        </table>
    </div>

    <form method="get" action="/persons">
        <label>
            <input type="text" name="filter">
            <button type="submit">Найти по имени</button>
        </label>
    </form>

</body>
</html>