<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Book</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/thymeleaf_example/ex1.css" th:href="@{static/thymeleaf_example/ex1.css}" />
</head>

<body>
    <table>
        <thead>
        <tr>
            <th> Title </th>
            <th> Author </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${books.empty}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="book : ${books}">
            <td><span th:text="${book.title}"> Title </span></td>
            <td><span th:text="${book.author}"> Author </span></td>
        </tr>
        </tbody>
    </table>

</body>
</html>